/* utilities */
:root {
  --primary-color: #A95FE3;
  --white-wrapper: #f7f7f7;
}

* {
  font-family: 'Roboto', sans-serif;
}
.c-primary {
  color: var(--primary-color);
}

.bg-wrapper {
  background: var(--white-wrapper) !important;
}

.bg-primary {
  background: var(--primary-color) !important;
}

section, footer {
  padding: 80px 0;
}

#cta {
  padding: 150px 0;
}


/* Buttons */
.btn.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.btn.btn-primary:hover {
  background: #9940DD;
  border-color: #9940DD;
}

/* Inputs */

input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid;
}

.input_icon {
  top: 11px;
  left: 20px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}


/* NAVBAR */
nav.navbar-light .nav-item .nav-link {
  transition: all .3s;
  color: var(--primary-color) !important;
}

nav.scrolled .nav-item .nav-link {
  transition: all .3s;
  color: #fff !important;
}

nav.scrolled {
  color: var(--primary-color) !important;
  background: var(--primary-color) !important;
  transition: all .3s;
}



/* SERVICES SECTION */
/* CARDS */

.card_wrapper:hover {
  transform: translateY(-20px);
  transition: all 0.5s;
}

.card_wrapper:hover > .card_header {
  transform: scale(1.1);
  transition: all 0.5s;
}

.card_wrapper > .card_header {
  transition: all 0.5s;
}

.card_wrapper {
  padding: 10px 5px;
  margin: 15px 0;
  transition: all 0.5s;
}

.card_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(169 95 227 / 20%);
    margin: auto;
}

/* CTA SECTION */
/* Division CTA */

.division.border-end {
  border-right: 1px solid var(--primary-color) !important;
}



/* PORTFOLIO SECTION */
/* CARDS */

.portfolio_card > img,
.portfolio_card .mask-portfolio,
.portfolio_card{
  border-radius: 8px !important;
}

.portfolio_card {
  height: 100%;
  overflow: hidden; 
}

.portfolio_card .mask-portfolio{
  position: absolute;
  top: 0; left:0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.portfolio_card:hover .mask-portfolio {
  visibility: visible;
  opacity: 1;
  transition: all .5s;
}

.portfolio_card:hover img {
  transform: scale(1.2);
  transition: all .5s
}
.portfolio_card img {
  transition: all .5s
}

.read_more_item {
  border-radius: 50%;
  width: 60px; height: 60px;
}

.job_tags p{
  margin: 0 10px 0 0;
  background: #f7f7f7;
  font-size: 8px;
  border-radius: 5px;
  border: solid #f7f7f7 1px;
  padding: 0 10px
}




.modal {
  max-height: 100vh;
}


.image-project {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.image-project img {
  width: 100%;
}

.details li {
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}












































.bg-overlay {
  background-color: rgb(239, 240, 242, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}


.row>*{
  position: relative;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--primary-color) !important;
  width: 10px !important;
  height: 10px !important;
  border-top: 0; border-bottom: 0;
  border-radius: 2px;
  transition: all .5s;
}

.carousel-indicators > button.active {
  transform: rotate(45deg);
  transition: all .5s;
}